
html, body{
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
	font-size: 14px;
}
.cont{
	margin: 0px 0px;
	padding: 0px 0px;
}
.card{
	width: 32%;	
	margin: 8% auto;
	padding: 0px 0px;
	border: none;
	z-index: 2px;
	border-radius: 8px;
	box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.card-body{
	padding: 0px 0px;

}

input[type=text]:focus {
  box-shadow: none;
  border-color: #c4c9c7;
}
input[type=password]:focus {
  box-shadow: none;
  border-color: #c4c9c7;
}
select[type=number]:focus {
  box-shadow: none;
  border-color: #c4c9c7;
}
input:focus:invalid {
  border: 1px solid red;
}


.f1, .f2, .f3{
	width: 124px;
	margin: 7px;
	margin-top: 0px;
}
.f1{
	margin-left: 15px;
}

.g1, .g2, .g3{
	border-style: solid;
	border-color: #c4c9c7;
	border-radius: 3px;
	border-width: 1px;
}
.g3{
	width: 139px;
	margin: 7px;
	margin-top: 0px;
}
.g1, .g2{
	width: 117px;
	margin: 7px;
	margin-top: 0px;
}
.g1{
	margin-left: 15px;
}

.t1{
	font-size: 30px;
	padding: 0px 0px;
	margin: 0px 0px;
}
.t2{
	font-size: 
}
.txt{
	font-size: 11px;
}
.tx{
	font-size: 12px;
}

.btn{
	padding: 0px 0px;
	width: 210px;
	height: 38px;
	margin-left:25%; 
	font-size:20px;
	filter: brightness(110%);
}
hr{
	position: relative;
	width: 100%;

}
